In [1]:
import pandas as pd
temp_df = pd.DataFrame({
    "city":["Hyderabad", "Vijaywada", "Vishakapatnam","Banglore"],
    "temperature":[32,45,30,35]
})
temp_df

            city  temperature
0      Hyderabad           32
1      Vijaywada           45
2  Vishakapatnam           30
3       Banglore           35

In [2]:
temp_df.temperature.min()

30

In [3]:
temp_df.temperature.max()

45

In [4]:
temp_df.temperature.mean()

np.float64(35.5)

In [5]:
temp_df.temperature.std()

6.658328118479393

In [6]:
temp_df.temperature.var()

44.333333333333336

In [7]:
temp_df.temperature.count()

np.int64(4)

In [8]:
temp_df.temperature.sum()

np.int64(142)

In [9]:
temp_df.temperature.describe()

count     4.000000
mean     35.500000
std       6.658328
min      30.000000
25%      31.500000
50%      33.500000
75%      37.500000
max      45.000000
Name: temperature, dtype: float64

In [11]:
temp_df.temperature.dtype

dtype('int64')

In [12]:
temp_df.temperature.median()

33.5

In [13]:
temp_df.temperature.mode()

0    30
1    32
2    35
3    45
Name: temperature, dtype: int64

In [17]:
study = pd.read_csv(r"C:\Users\nikhi\Downloads\study_marks (1).csv")
study

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [19]:
study.min()

Study_Hours    1.3
Marks          4.0
dtype: float64

In [20]:
study.max()

Study_Hours     5.8
Marks          61.0
dtype: float64

In [21]:
study.mean()

Study_Hours     3.61
Marks          33.40
dtype: float64

In [22]:
study.median()

Study_Hours     4.0
Marks          36.5
dtype: float64

In [24]:
study.mode()

   Study_Hours  Marks
0          1.8    4.0
1          4.0    8.0
2          NaN   19.0
3          NaN   27.0
4          NaN   35.0
5          NaN   38.0
6          NaN   45.0
7          NaN   47.0
8          NaN   50.0
9          NaN   61.0

In [26]:
study.sum()

Study_Hours     36.1
Marks          334.0
dtype: float64

In [27]:
study.count()

Study_Hours    10
Marks          10
dtype: int64

In [28]:
study.var()

Study_Hours      2.481000
Marks          348.711111
dtype: float64

In [29]:
study.std()

Study_Hours     1.575119
Marks          18.673808
dtype: float64

In [30]:
study.describe()

       Study_Hours      Marks
count    10.000000  10.000000
mean      3.610000  33.400000
std       1.575119  18.673808
min       1.300000   4.000000
25%       2.075000  21.000000
50%       4.000000  36.500000
75%       4.650000  46.500000
max       5.800000  61.000000